body {
    height: 100px;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
  }

.logo {
    width: 50px;
}

img {
    width: 600px;
}

a {
    text-decoration: none;
    color: rgb(255, 215, 0);
}

ul {
    list-style-type: none;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #2f4f4f;
    padding: 16px;
}

.left-elements, .right-elements {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.logo-name {
    font-size: 30px;
}

.section1 {
    display: flex;
    background-color: #2f4f4f;
    align-items: center;
    gap: 48px;
    padding: 80px;
}

.left-side {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.text {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    text-align: left;
}

.description {
    font-size: 18px;
    color: #f9faf8;
    text-align: left;
}

.info-button {
background-color: rgb(255, 215, 0);
border-radius: 6px;
font-size: 18px;
padding: 5px 30px;
}

.section2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.top-side {
    display: flex;
    align-items: center;
}

.picture1, .picture2, .picture3, .picture4 {
    width: 200px;
    height: 200px;
}